body {
    padding: 20px;
   ;
  }

#start-img {
    position: relative;
    float: right;
    margin-right: 24em;
    background-image: url("/img/zelda\ menu-2.gif");
    width: 700px;
    height: 500px;
    background-size: 90%;
    background-position: center;
}
#game-over-img {
  position: relative;
    float: right;
    margin-right: 24em;
    background-image: url("/img/game-over\ com\ link\ 2.png");
    width: 700px;
    height: 500px;
    background-size: 130%;
    background-position: center;
}
#start-button {
    position: absolute; 
    float: right;
    right: 525px;
    top: 375px;
    margin-right: -13px;
    margin-left: 145px;
    text-align: center;
    font-size: 33px;
    font-family: "arcade";
    color: black;
    padding: 1px 30px;
    background-color: cyan;
    border: 5px;
    border-color: rgb(162, 252, 252);
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  @font-face {
    font-family: "arcade";
    src: url("/img/ARCADECLASSIC.TTF");
  }
#game-board {
    background-image: url("../img/grass2.gif");
    background-size: 150%;
    float: right;
    margin-right: 20em;
}

#play-again {
  position: absolute;
    float: right;
    right: 590px;
    top: 354px;
    text-align: center;
    font-size: 25px;
    font-family: "arcade";
    color: #8ab7c5;
    padding: 0px 30px;
    background-color:#8929e9;
    border: 10px;
    border-color:#7677d3;
    border-style: double;
    border-radius: 10px;
    margin-bottom: 10px;
}

#score-div {
    position: absolute;
    text-align: center;
    float: right;
    font-size: 18px;
    font-family: "arcade";
    color: #a8fd1f;
    padding: 0px 30px ;
    background-color:#8929e9;
    border: 10px;
    border-style: double;
    border-radius: 20px;
    left: 672px;
    top: 540px;
    margin-bottom: 10px;
}

